<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <!--link rel="stylesheet" href="nav-nested.css">
        <link rel="stylesheet" href="nav-nested-editable.css"-->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="../ng-editable-tree.css" />

        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="../ng-editable-tree.js"></script>
    </head>
    <body ng-app="app" ng-controller="IndexCtrl">

        <div class="row">
            <div class="col-span-6">
            
            
                <ol class="nav nav-nested">
                    <li tree-view="child in tree.$children at ol" ng-class="{expanded:child.$expanded, 'active':child.id == activeNode.id}">
                        <div>
                            <a href="javascript:;" ng-click="child.$expanded = !child.$expanded" ng-switch on="child.$expanded">
                                <span ng-show="child.$children.length" ng-switch-when="true">&#x25BC;</span>
                                <span ng-show="child.$children.length" ng-switch-default>&#x25B6;</span>
                            </a>

                            <a href="javascript:;" ng-click="activete(child)">
                                {{child.title}}
                            </a>
                        </div>
                        <ol></ol>
                    </li>
                </ol>
            
            </div>
            <div class="col-span-6">
            
            
            <ol tree-view-sortable="tree" tree-view-move="move($item, $before, $index)" class="nav nav-nested editable">
                <li tree-view="child in tree.$children at ol" ng-class="{expanded:child.$expanded}">
                    <div>
                        <a href="javascript:;" ng-click="child.$expanded = !child.$expanded" ng-switch on="child.$expanded">
                            <span ng-show="child.$children.length" ng-switch-when="true">&#x25BC;</span>
                            <span ng-show="child.$children.length" ng-switch-default>&#x25B6;</span>
                        </a>

                        <div class="item-content" ng-class="{'expanded':child.$settings}">
                            <div class="btn-group btn-group-justified">
                                <a href="javascript:;" class="btn title-item-menu" ng-class="{'btn-primary':child.is_publish}">
                                    {{child.title}}
                                </a>
                                <!--a class="btn" ng-click="child.is_publish = !child.is_publish; updateItem(child)" ng-class="{'btn-primary active':child.is_publish}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a-->
                                <a class="btn" ng-click="addChild(child)" ng-class="{'btn-primary':child.is_publish}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a class="btn" ng-class="{'btn-primary':child.is_publish}" href="javascript:;">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <a class="btn" ng-class="{'btn-primary':child.is_publish, 'active': child.$settings}"
                                   ng-click="showCategorySettings(child)"><span
                                        class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                            <div class="details" ng-show="child.$settings">
                                Settings
                            </div>
                        </div>
                    </div>
                    <ol></ol>
                </li>
            </ol>
            
            </div>
        </div>
        
        <script>
        var app = angular.module('app', ['ngEditableTree'])
        .factory('CategoryService', function(ngNestedResource) {
            var CategoryService = ngNestedResource('/rest.php/pages/categories/');
            return CategoryService;
        })

        function IndexCtrl($scope, $http, $q, $timeout, CategoryService) {
            $scope.tree = {
                $children: [{
                    id: 1,
                    title: 'Root node',
                    $expanded: true,
                    $children: [
                        { id: 2, title: 'Node1' },
                        { id: 3, title: 'Node2' },
                        {
                            id: 4,
                            title: 'Node3',
                            $children: [
                                { id:5, title: 'Node1' }
                            ]
                        }
                    ]
                }]
            };
            $scope.activete = function(node) {
                $scope.activeNode = node;
            }

            /**
            * Create new menu elements
            */
            $scope.addChild = function (child) {
                var category = new CategoryService(child);

                category.$insertItem(function(item) {
                    item.focus = true;
                    item.showsettings = true;
                    item.children = [];
                });
            };

            $scope.move = function(item, before, index) {
                var category = new CategoryService(item);
                category.$moveItem(before, index);
            }

            $scope.remove = function (child) {
                function walk(target) {
                    var children = target.children,
                    i;
                    if (children) {
                        i = children.length;
                        while (i--) {
                            if (children[i] === child) {
                                return children.splice(i, 1);
                            } else {
                                walk(children[i])
                            }
                        }
                    }
                }
                $scope.$apply(function() {
                    walk($scope.menu);
                });
            }
        }
        </script>

    
    </body>
</html>